* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

@font-face {
  font-family: Avenir-Roman;
  src: url(./workshop-practice-1/assets/font/avenir_ff/AvenirLTStd-Roman.otf);
  // font-weight: 700;
}

@font-face {
  font-family: FuturaBT-Book;
  src: url(./workshop-practice-1/assets/font/futura_book_bt.ttf);
  // font-weight: 100;
}
@font-face {
  font-family: Avenir-Heavy;
  src: url(./workshop-practice-1/assets/font/Avenir_Heavy.ttf);
  // font-weight: 700;
}
@font-face {
  font-family: Avenir-Medium;
  src: url(./workshop-practice-1/assets/font/Avenir_Medium.ttf);
  // font-weight: 700;
}
@font-face {
  font-family: FuturaBT-Books;
  src: url("./workshop-practice-1/assets/font/Futura\ XBlk\ BT.ttf");
  // font-weight: 700;
}
@font-face {
  font-family: Futura-Medium;
  src: url(./workshop-practice-1/assets/font/Futura_Medium.otf);
  // font-weight: 700;
}
@font-face {
  font-family: Avenir ;
  src: url(./workshop-practice-1/assets/font/AvenirLTStd-Book.otf);
  // font-weight: 700;
}




body{
  font-family: Avenir, Arial, Helvetica, sans-serif;
  
}

.container1 {

  // width: 80vw;
  // margin: 0 auto;
  background-color: #e4faf4;
  .container2 {
    width: 70vw;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    .phone-img {
      text-align: center;
      padding: 10px;
      
    }
    // padding: 10px;
    .download {
      border-right: 1px solid #dadce0;
      // opacity: 0.1;
      a {
        text-decoration: none;
           color: #222222;

      }
     
   
      font-family: Avenir-Medium;
      font-size: 13px;
      // line-height: 17.76px;
      text-align: center;
      padding: 10px;
    }
    .blog {
      border-right: 1px solid #dadce0;
      
     
      font-family: Avenir-Medium;
      font-size: 13px;
      line-height: 17.76px;
      text-align: left;
      padding: 10px;

      a {
        text-decoration: none;
        color: #222222;
      }
    }
    .language {
      
      
      font-family: Avenir;
      font-size: 13px;
      line-height: 17.76px;
      text-align: left;
      padding: 10px;
      a {
        text-decoration: none;
        color: #222222;

      }
    }
    .english {
      
      // color: black;
      font-family:Avenir-Medium;
      font-size: 13px;
      line-height: 17.76px;
      text-align: left;
      padding: 10px;
      a {
        text-decoration: none;
        color: #222222;
      }
    }
  }
}
.header {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  // padding: 15px;
  padding-top: 34px;
  padding-bottom: 34px;
  align-items: center;

  .neo-funds {
    color: #222222;
    font-family:Futura-Medium;
    font-size: 25.92px;
    line-height: 34px;
    text-align: center;
    padding-left: 34px;
  }
  .search {
    
    border-radius: 6px;
    padding-left: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .search-bar {
      padding: 12px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background-color: #f5f5f5;
      gap: 4px;
      border-radius: 6px;
      padding: 10px;
    

      .input {
        background-color: #f5f5f5;
        border-radius: 6px;
        color: #222222;
          
        font-family: Avenir;
        font-size: 14px;
        line-height: 19px;
        opacity: 0.5;
        text-align: left;
        border: none;
          
      }
    //   .search-img {
    //       // background-color: #222222;
    //     opacity: 0.5;
    //   }
    }
  }
  .span1 {
    color: #222222;
    font-family: Avenir;
    font-size: 14px;
    line-height: 19px;
    text-align: right;
    padding: 10px;
  }
  .span2 {
    color: #222222;
    font-family: Avenir;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    padding: 10px;
  }
  .span3 {
    color: #222222;
    font-family: Avenir;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    padding: 10px;
  }
  .span4 {
    color: #222222;
    font-family: Avenir-Heavy;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    // padding: 10px;
    font-weight: bold;
  }
}

.cont2 {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  gap: 20px;
  .cont2-div {
    padding: 30px;
    align-items: center;

    .investing-made-easy {
      color: #222222;
      font-family: FuturaBT-Book;
      font-size: 40px;
      line-height: 47.95px;
      text-align: left;
      padding-top: 48px;
      font-weight: lighter;
      // padding-left: 100px;

      .easy{
        // background: linear-gradient(1deg, rgb(132, 211, 132) 5%, transparent 50%);
        font-weight: bold;
        position: relative;
        z-index: 1;

      }
      .easy::before{
        content:"";
        position: absolute;
        bottom: 1px;
        width: 86px;
        height: 15px;
        z-index: -1;
        background-color: paleturquoise;

      }
    }
    .indias-fatest {
      color: #222222;
      font-family: Avenir;
      font-size: 17px;
      line-height: 29px;
      opacity: 0.699999988079071;
      // width: 455px;
      text-align: left;
      padding-top: 30px;
      // padding-left: 100px;
      text-align: justify;
      padding-bottom: 24px;
      padding-right: 56px;
    }
    .get-started {
      color: #ffffff;
      font-family: Avenir;
      font-size: 18px;
      line-height: 24.59px;
      text-align: center;
      padding: 15px;
      padding-left: 30px;
      padding-right: 30px;
      border: none;

      background-color: #00d09c;
      border-radius: 4px;
      box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
    }
    .btn {
      padding-top: 30px;
      // padding-left: 100px;
    }
  }
}
@font-face {
  font-family: 'Futura_font'; /*a name to be used later*/
  src: url('./assets/font/Futura XBlk BT.ttf'); /*URL to font*/
}

.cont3 {
  background-color: #e4faf4;
  box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
  padding: 20px;

  .container-3 {
    width: 70vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;

    .para {
      width: 50%;

      .cont3-head {
        color: #222222;
        font-family: Futura-Medium;
        font-size: 30px;
        line-height: 39px;
        text-align: left;
        padding: 15px;
        padding-left: 25px;
      }

      .cont3-para {
        color: #222222;
        font-family: Avenir;
        font-size: 17px;
        line-height: 29px;
        opacity: 0.699999988079071;

        text-align: left;
        padding: 10px;
        padding-left: 25px;
      }
    }
  }
  // sectionmnn

  .logo-sec {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 30px ;
    .logo {
      padding: 5px;
      border: 1px solid rgba(0, 208, 156, 0.2);
      border-radius: 6px;
      // opacity: 0.5;

      .logo-head {
        // padding-left: 10px;
        color: #222222;
        font-family: Avenir;
        font-size: 14px;
        line-height: 19px;
        opacity: 0.699999988079071;
        text-align: center;
        align-items: center;
      }
      .logo1 {
        padding: 10px;
      }
    }
  }
}
.cont4 {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding-top: 117px;
  align-items: center;
  padding-bottom: 117px;
  column-gap: 100px;

  .about-funds {
    color: #222222;
    font-family: Avenir-Medium;
    font-size: 17px;
    line-height: 28px;
    opacity: 0.699999988079071;
    text-align: left;
    padding-bottom: 10px;
    
  }
  .learn-funds {
    color: #222222;
    font-family: Futura-Medium;
    font-size: 40px;
    line-height: 52px;
    text-align: left;
    font-weight: lighter;
    padding-bottom: 15px;
    // padding: 10px;
  }
  .inline {
    display: flex;

    .image-1 {
      border-radius: 0 6px;
      // width: 15px;
    }
    
    .about-head {
      color: #222222;
      font-family: Avenir-Roman;
      font-size: 17px;
      line-height: 28px;
      opacity: 0.699999988079071;
      text-align: left;
      padding: 10px;
      font-weight: lighter;
    }
  }
  .inline-1{
    padding-bottom: 17px;
  }
  .button-2 {
    display: flex;
    padding: 15px;

    .btn-2 {
      color: #ffffff;
      font-family: Avenir;
      font-size: 18px;
      line-height: 24.59px;
      text-align: center;
      background-color: #00d09c;
      border-radius: 4px;
      box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
      border: none;
      padding: 13px;
      padding-right: 25px;
      padding-left: 25px;
      width: 178px;
      height: 60px;
    }
    .watch-vedio {
      color: #00d09c;
      font-family: Avenir;
      font-size: 19px;
      line-height: 28px;
      text-align: left;
      padding: 20px;
    }
  }
}

.gradient-cont {
  background-image: linear-gradient(180deg, #e4faf4 0%, #ffffff 100%);
  .cont5 {
    width: 70vw;
    margin: 0 auto;
    display: flex;
    gap: 15px;
    // justify-content: space-between;
    .first-div {
      padding-top: 136px;

      .ask-expert {
        color: #222222;
        font-family: Futura-Medium;
        // font-weight: lighter;
        font-size: 40px;
        line-height: 52px;
        text-align: left;
        padding: 10px 0px;
      }
      .ask-para {
        color: #222222;
        // font-family: Avenir-Medium;
        font-size: 17px;
        line-height: 29px;
        opacity: 0.699999988079071;
        text-align: left;
        padding: 10px 0px;
        font-weight: lighter;
      }
      .ask-flex {
        display: flex;
        padding-top: 25px;
        gap: 22px;

        .first-1 {
          display: flex;
          flex-direction: column;
          
          .investing {
            color: #222222;
            font-family: Futura-Medium;
            font-size: 24px;
            line-height: 28.77px;
            text-align: left;
            padding-top: 55px;
            padding-bottom: 10px;
            font-weight: lighter;
            

          }
          .image-cash {
            padding: 5px;
            background-color: #E8F9F5;
            border-radius: 4px;
            width: 60px;
            height: 50px;


          }
          .investing-para {
            color: #222222;
            font-family: Avenir;
            font-size: 17px;
            line-height: 29px;
            opacity: 0.699999988079071;
            // width: 260px;
            text-align: left;
            padding-top: 24px;
            padding-bottom: 70px;
            
          }
          .btn-4 {
            color: #ffffff;
            font-family:  Avenir-Heavy;
            font-size: 18px;
            line-height: 24.59px;
            text-align: center;
            background-color: #00d09c;padding-top: 85px;
            border-radius: 4px;
            box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
            border: none;
            padding: 13px;
            padding-right: 25px;
            width: 173px;
            height: 60px;
          }
        }
      }
    }
    .second-image{
      padding-top: 85px;
      width: 437px;
      height: 674px;
      padding-left: 23px;
    }
  }
}
.main-sec {
  width: 70vw;
  margin: 0 auto;
  // display: flex;
  // justify-content: space-between;
  .first-part {
    // width: 80%;
    // padding-top: 50px;
    .manage-investment {
      color: #222222;
      font-family:FuturaBT-Book;
      font-size: 30px;
      line-height: 35.96px;
      text-align: center;
      padding-top: 150px;
    }
    .manage-para {
      color: #222222;
      font-family: Avenir;
      font-size: 17px;
      line-height: 29px;
      opacity: 0.699999988079071;

      text-align: center;
      // padding-left: 20px;
      padding-top: 15px;
      padding-bottom: 15px;
    }
    .download-app {
      color: #222222;
      font-family: FuturaBT-Book;
      font-size: 24px;
      line-height: 28.77px;
      text-align: center;
      padding-top: 25px;
      padding-bottom: 25px;
     
      
  
    }
    .image-span {
      display: flex;
      justify-content: center;
      .image-app {
        padding: 10px;
        padding-bottom: 136px;
      }
    }
  }

  .second-sec {
    .chat-img{
      position: fixed;
      bottom: 75px;
      right: 0;

    }
  }
}
.shadow{
  box-shadow: 0 -35px 20px 0 rgba(0, 0, 0, 0.03);
}
.cont-6 {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
  padding-top: 109px;
  .first {
    .neo {
      color: #222222;
      font-family: Futura-Medium;
      font-size: 30px;
      letter-spacing: 4.5px;
      line-height: 39px;
      text-align: left;
      padding: 10px;
    }
  }
  .second-section{
    display: flex;
    flex-direction: row;
    gap: 100px;

    .second {
      display: flex;
      flex-direction: column;
      gap: 30px;

      // justify-content: space-between;
      .column1 {
        .line1 {
          color: #222222;
          font-family: Avenir-Heavy;
          font-size: 17px;
          line-height: 23px;
          text-align: left;
          padding: 5px;
        }
        .line2 {
          color: #222222;
          font-family: Avenir;
          font-size: 15px;
          line-height: 20px;
          opacity: 0.699999988079071;
          text-align: left;
          padding: 5px;
        }
        .line3 {
          color: #222222;
          font-family: Avenir;
          font-size: 15px;
          line-height: 20px;
          opacity: 0.699999988079071;
          text-align: left;
          padding: 5px;
        }
        .line4 {
          color: #222222;
          font-family: Avenir;
          font-size: 15px;
          line-height: 20px;
          opacity: 0.699999988079071;
          text-align: left;
          padding: 5px;
        }
        .line5 {
          color: #222222;
          font-family: Avenir;
          font-size: 15px;
          line-height: 20px;
          opacity: 0.699999988079071;
          text-align: left;
          padding: 5px;
        }
      }
      .contact {
        .line6 {
          color: #222222;
          font-family: Avenir;
          font-size: 17px;
          line-height: 23px;
          text-align: left;
          padding: 5px;
          padding-top: 0;
        }
        .line7 {
          color: #222222;
          font-family: Avenir;
          font-size: 15px;
          line-height: 20px;
          opacity: 0.699999988079071;
          text-align: left;
          padding: 5px;
        }
      }
    }
    .column2 {
      display: flex;
      flex-direction: column;
      gap: 30px;
      .line1 {
        color: #222222;
        font-family: Avenir;
        font-size: 17px;
        line-height: 23px;
        text-align: left;
        padding: 5px;
      }
      .line2 {
        color: #222222;
        font-family: Avenir;
        font-size: 15px;
        line-height: 20px;
        opacity: 0.699999988079071;
        text-align: left;
        padding: 5px;
      }
      .line3 {
        color: #222222;
        font-family: Avenir;
        font-size: 15px;
        line-height: 20px;
        opacity: 0.699999988079071;
        text-align: left;
        padding: 5px;
      }
      .line4 {
        color: #222222;
        font-family: Avenir;
        font-size: 15px;
        line-height: 20px;
        opacity: 0.699999988079071;
        text-align: left;
        padding: 5px;
      }
      .line5 {
        color: #222222;
        font-family: Avenir;
        font-size: 15px;
        line-height: 20px;
        opacity: 0.699999988079071;
        text-align: left;
      }
      .call {
        .line6 {
          color: #222222;
          font-family: Avenir;
          font-size: 17px;
          line-height: 23px;
          text-align: left;
          padding: 5px;
        }
        .line7 {
          color: #222222;
          font-family: Avenir;
          font-size: 15px;
          line-height: 20px;
          opacity: 0.699999988079071;
          text-align: left;
          padding: 5px;
        }
      }
    }
    .column3 {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .line1 {
        color: #222222;
        font-family: Avenir;
        font-size: 17px;
        line-height: 23px;
        text-align: left;
        padding: 5px;
      }
      .line2 {
        color: #222222;
        font-family: Avenir;
        font-size: 15px;
        line-height: 20px;
        opacity: 0.699999988079071;
        text-align: left;
        padding: 5px;
      }
      .line3 {
        color: #222222;
        font-family: Avenir;
        font-size: 15px;
        line-height: 20px;
        opacity: 0.699999988079071;
        text-align: left;
        padding: 5px;
      }
      .line4 {
        color: #222222;
        font-family: Avenir;
        font-size: 15px;
        line-height: 20px;
        opacity: 0.699999988079071;
        text-align: left;
        padding: 5px;
      }
      .download {
        
        // opacity: 0.1;
        // padding-bottom: 39px;
        padding-top: 19px;

        .line6 {
          color: #222222;
          font-family: Avenir;
          font-size: 17px;
          line-height: 23px;
          text-align: left;
          padding: 5px;
        }
        .app {
          padding: 5px;
        }
      }
    }
  }
}

footer {
  border-top: 1px solid #dadce0;

  .footer-menu {
    width: 70vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;

    .copyright {
      color: #222222;
      font-family: Avenir;
      font-size: 12px;
      line-height: 30px;
      opacity: 0.699999988079071;
      text-align: left;
    }
    .social {
      padding: 10px;
    }
  }
}
