* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: Avenir-Roman;
  src: url(./workshop-practice-1/assets/font/avenir_ff/AvenirLTStd-Roman.otf);
}

@font-face {
  font-family: FuturaBT-Book;
  src: url(./workshop-practice-1/assets/font/futura_book_bt.ttf);
}

@font-face {
  font-family: Avenir-Heavy;
  src: url(./workshop-practice-1/assets/font/Avenir_Heavy.ttf);
}

@font-face {
  font-family: Avenir-Medium;
  src: url(./workshop-practice-1/assets/font/Avenir_Medium.ttf);
}

@font-face {
  font-family: FuturaBT-Books;
  src: url("./workshop-practice-1/assets/font/Futura XBlk BT.ttf");
}

@font-face {
  font-family: Futura-Medium;
  src: url(./workshop-practice-1/assets/font/Futura_Medium.otf);
}

@font-face {
  font-family: Avenir;
  src: url(./workshop-practice-1/assets/font/AvenirLTStd-Book.otf);
}

body {
  font-family: Avenir, Arial, Helvetica, sans-serif;
}

.container1 {
  background-color: #e4faf4;
}

.container1 .container2 {
  width: 70vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container1 .container2 .phone-img {
  text-align: center;
  padding: 10px;
}

.container1 .container2 .download {
  border-right: 1px solid #dadce0;
  font-family: Avenir-Medium;
  font-size: 13px;
  text-align: center;
  padding: 10px;
}

.container1 .container2 .download a {
  text-decoration: none;
  color: #222222;
}

.container1 .container2 .blog {
  border-right: 1px solid #dadce0;
  font-family: Avenir-Medium;
  font-size: 13px;
  line-height: 17.76px;
  text-align: left;
  padding: 10px;
}

.container1 .container2 .blog a {
  text-decoration: none;
  color: #222222;
}

.container1 .container2 .language {
  font-family: Avenir;
  font-size: 13px;
  line-height: 17.76px;
  text-align: left;
  padding: 10px;
}

.container1 .container2 .language a {
  text-decoration: none;
  color: #222222;
}

.container1 .container2 .english {
  font-family: Avenir-Medium;
  font-size: 13px;
  line-height: 17.76px;
  text-align: left;
  padding: 10px;
}

.container1 .container2 .english a {
  text-decoration: none;
  color: #222222;
}

.header {
  width: 70vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 34px;
  padding-bottom: 34px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .neo-funds {
  color: #222222;
  font-family: Futura-Medium;
  font-size: 25.92px;
  line-height: 34px;
  text-align: center;
  padding-left: 34px;
}

.header .search {
  border-radius: 6px;
  padding-left: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .search .search-bar {
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f5f5f5;
  gap: 4px;
  border-radius: 6px;
  padding: 10px;
}

.header .search .search-bar .input {
  background-color: #f5f5f5;
  border-radius: 6px;
  color: #222222;
  font-family: Avenir;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.5;
  text-align: left;
  border: none;
}

.header .span1 {
  color: #222222;
  font-family: Avenir;
  font-size: 14px;
  line-height: 19px;
  text-align: right;
  padding: 10px;
}

.header .span2 {
  color: #222222;
  font-family: Avenir;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  padding: 10px;
}

.header .span3 {
  color: #222222;
  font-family: Avenir;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  padding: 10px;
}

.header .span4 {
  color: #222222;
  font-family: Avenir-Heavy;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  font-weight: bold;
}

.cont2 {
  width: 70vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 40px;
  gap: 20px;
}

.cont2 .cont2-div {
  padding: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cont2 .cont2-div .investing-made-easy {
  color: #222222;
  font-family: FuturaBT-Book;
  font-size: 40px;
  line-height: 47.95px;
  text-align: left;
  padding-top: 48px;
  font-weight: lighter;
}

.cont2 .cont2-div .investing-made-easy .easy {
  font-weight: bold;
  position: relative;
  z-index: 1;
}

.cont2 .cont2-div .investing-made-easy .easy::before {
  content: "";
  position: absolute;
  bottom: 1px;
  width: 86px;
  height: 15px;
  z-index: -1;
  background-color: paleturquoise;
}

.cont2 .cont2-div .indias-fatest {
  color: #222222;
  font-family: Avenir;
  font-size: 17px;
  line-height: 29px;
  opacity: 0.699999988079071;
  text-align: left;
  padding-top: 30px;
  text-align: justify;
  padding-bottom: 24px;
  padding-right: 56px;
}

.cont2 .cont2-div .get-started {
  color: #ffffff;
  font-family: Avenir;
  font-size: 18px;
  line-height: 24.59px;
  text-align: center;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  background-color: #00d09c;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
          box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
}

.cont2 .cont2-div .btn {
  padding-top: 30px;
}

@font-face {
  font-family: 'Futura_font';
  /*a name to be used later*/
  src: url("./assets/font/Futura XBlk BT.ttf");
  /*URL to font*/
}

.cont3 {
  background-color: #e4faf4;
  -webkit-box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
          box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
  padding: 20px;
}

.cont3 .container-3 {
  width: 70vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.cont3 .container-3 .para {
  width: 50%;
}

.cont3 .container-3 .para .cont3-head {
  color: #222222;
  font-family: Futura-Medium;
  font-size: 30px;
  line-height: 39px;
  text-align: left;
  padding: 15px;
  padding-left: 25px;
}

.cont3 .container-3 .para .cont3-para {
  color: #222222;
  font-family: Avenir;
  font-size: 17px;
  line-height: 29px;
  opacity: 0.699999988079071;
  text-align: left;
  padding: 10px;
  padding-left: 25px;
}

.cont3 .logo-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.cont3 .logo-sec .logo {
  padding: 5px;
  border: 1px solid rgba(0, 208, 156, 0.2);
  border-radius: 6px;
}

.cont3 .logo-sec .logo .logo-head {
  color: #222222;
  font-family: Avenir;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.699999988079071;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cont3 .logo-sec .logo .logo1 {
  padding: 10px;
}

.cont4 {
  width: 70vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 117px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 117px;
  -webkit-column-gap: 100px;
          column-gap: 100px;
}

.cont4 .about-funds {
  color: #222222;
  font-family: Avenir-Medium;
  font-size: 17px;
  line-height: 28px;
  opacity: 0.699999988079071;
  text-align: left;
  padding-bottom: 10px;
}

.cont4 .learn-funds {
  color: #222222;
  font-family: Futura-Medium;
  font-size: 40px;
  line-height: 52px;
  text-align: left;
  font-weight: lighter;
  padding-bottom: 15px;
}

.cont4 .inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cont4 .inline .image-1 {
  border-radius: 0 6px;
}

.cont4 .inline .about-head {
  color: #222222;
  font-family: Avenir-Roman;
  font-size: 17px;
  line-height: 28px;
  opacity: 0.699999988079071;
  text-align: left;
  padding: 10px;
  font-weight: lighter;
}

.cont4 .inline-1 {
  padding-bottom: 17px;
}

.cont4 .button-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
}

.cont4 .button-2 .btn-2 {
  color: #ffffff;
  font-family: Avenir;
  font-size: 18px;
  line-height: 24.59px;
  text-align: center;
  background-color: #00d09c;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
          box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
  border: none;
  padding: 13px;
  padding-right: 25px;
  padding-left: 25px;
  width: 178px;
  height: 60px;
}

.cont4 .button-2 .watch-vedio {
  color: #00d09c;
  font-family: Avenir;
  font-size: 19px;
  line-height: 28px;
  text-align: left;
  padding: 20px;
}

.gradient-cont {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e4faf4), to(#ffffff));
  background-image: linear-gradient(180deg, #e4faf4 0%, #ffffff 100%);
}

.gradient-cont .cont5 {
  width: 70vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.gradient-cont .cont5 .first-div {
  padding-top: 136px;
}

.gradient-cont .cont5 .first-div .ask-expert {
  color: #222222;
  font-family: Futura-Medium;
  font-size: 40px;
  line-height: 52px;
  text-align: left;
  padding: 10px 0px;
}

.gradient-cont .cont5 .first-div .ask-para {
  color: #222222;
  font-size: 17px;
  line-height: 29px;
  opacity: 0.699999988079071;
  text-align: left;
  padding: 10px 0px;
  font-weight: lighter;
}

.gradient-cont .cont5 .first-div .ask-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 25px;
  gap: 22px;
}

.gradient-cont .cont5 .first-div .ask-flex .first-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gradient-cont .cont5 .first-div .ask-flex .first-1 .investing {
  color: #222222;
  font-family: Futura-Medium;
  font-size: 24px;
  line-height: 28.77px;
  text-align: left;
  padding-top: 55px;
  padding-bottom: 10px;
  font-weight: lighter;
}

.gradient-cont .cont5 .first-div .ask-flex .first-1 .image-cash {
  padding: 5px;
  background-color: #E8F9F5;
  border-radius: 4px;
  width: 60px;
  height: 50px;
}

.gradient-cont .cont5 .first-div .ask-flex .first-1 .investing-para {
  color: #222222;
  font-family: Avenir;
  font-size: 17px;
  line-height: 29px;
  opacity: 0.699999988079071;
  text-align: left;
  padding-top: 24px;
  padding-bottom: 70px;
}

.gradient-cont .cont5 .first-div .ask-flex .first-1 .btn-4 {
  color: #ffffff;
  font-family: Avenir-Heavy;
  font-size: 18px;
  line-height: 24.59px;
  text-align: center;
  background-color: #00d09c;
  padding-top: 85px;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
          box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
  border: none;
  padding: 13px;
  padding-right: 25px;
  width: 173px;
  height: 60px;
}

.gradient-cont .cont5 .second-image {
  padding-top: 85px;
  width: 437px;
  height: 674px;
  padding-left: 23px;
}

.main-sec {
  width: 70vw;
  margin: 0 auto;
}

.main-sec .first-part .manage-investment {
  color: #222222;
  font-family: FuturaBT-Book;
  font-size: 30px;
  line-height: 35.96px;
  text-align: center;
  padding-top: 150px;
}

.main-sec .first-part .manage-para {
  color: #222222;
  font-family: Avenir;
  font-size: 17px;
  line-height: 29px;
  opacity: 0.699999988079071;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-sec .first-part .download-app {
  color: #222222;
  font-family: FuturaBT-Book;
  font-size: 24px;
  line-height: 28.77px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.main-sec .first-part .image-span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-sec .first-part .image-span .image-app {
  padding: 10px;
  padding-bottom: 136px;
}

.main-sec .second-sec .chat-img {
  position: fixed;
  bottom: 75px;
  right: 0;
}

.shadow {
  -webkit-box-shadow: 0 -35px 20px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 -35px 20px 0 rgba(0, 0, 0, 0.03);
}

.cont-6 {
  width: 70vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 109px;
}

.cont-6 .first .neo {
  color: #222222;
  font-family: Futura-Medium;
  font-size: 30px;
  letter-spacing: 4.5px;
  line-height: 39px;
  text-align: left;
  padding: 10px;
}

.cont-6 .second-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 100px;
}

.cont-6 .second-section .second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.cont-6 .second-section .second .column1 .line1 {
  color: #222222;
  font-family: Avenir-Heavy;
  font-size: 17px;
  line-height: 23px;
  text-align: left;
  padding: 5px;
}

.cont-6 .second-section .second .column1 .line2 {
  color: #222222;
  font-family: Avenir;
  font-size: 15px;
  line-height: 20px;
  opacity: 0.699999988079071;
  text-align: left;
  padding: 5px;
}

.cont-6 .second-section .second .column1 .line3 {
  color: #222222;
  font-family: Avenir;
  font-size: 15px;
  line-height: 20px;
  opacity: 0.699999988079071;
  text-align: left;
  padding: 5px;
}

.cont-6 .second-section .second .column1 .line4 {
  color: #222222;
  font-family: Avenir;
  font-size: 15px;
  line-height: 20px;
  opacity: 0.699999988079071;
  text-align: left;
  padding: 5px;
}

.cont-6 .second-section .second .column1 .line5 {
  color: #222222;
  font-family: Avenir;
  font-size: 15px;
  line-height: 20px;
  opacity: 0.699999988079071;
  text-align: left;
  padding: 5px;
}

.cont-6 .second-section .second .contact .line6 {
  color: #222222;
  font-family: Avenir;
  font-size: 17px;
  line-height: 23px;
  text-align: left;
  padding: 5px;
  padding-top: 0;
}

.cont-6 .second-section .second .contact .line7 {
  color: #222222;
  font-family: Avenir;
  font-size: 15px;
  line-height: 20px;
  opacity: 0.699999988079071;
  text-align: left;
  padding: 5px;
}

.cont-6 .second-section .column2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.cont-6 .second-section .column2 .line1 {
  color: #222222;
  font-family: Avenir;
  font-size: 17px;
  line-height: 23px;
  text-align: left;
  padding: 5px;
}

.cont-6 .second-section .column2 .line2 {
  color: #222222;
  font-family: Avenir;
  font-size: 15px;
  line-height: 20px;
  opacity: 0.699999988079071;
  text-align: left;
  padding: 5px;
}

.cont-6 .second-section .column2 .line3 {
  color: #222222;
  font-family: Avenir;
  font-size: 15px;
  line-height: 20px;
  opacity: 0.699999988079071;
  text-align: left;
  padding: 5px;
}

.cont-6 .second-section .column2 .line4 {
  color: #222222;
  font-family: Avenir;
  font-size: 15px;
  line-height: 20px;
  opacity: 0.699999988079071;
  text-align: left;
  padding: 5px;
}

.cont-6 .second-section .column2 .line5 {
  color: #222222;
  font-family: Avenir;
  font-size: 15px;
  line-height: 20px;
  opacity: 0.699999988079071;
  text-align: left;
}

.cont-6 .second-section .column2 .call .line6 {
  color: #222222;
  font-family: Avenir;
  font-size: 17px;
  line-height: 23px;
  text-align: left;
  padding: 5px;
}

.cont-6 .second-section .column2 .call .line7 {
  color: #222222;
  font-family: Avenir;
  font-size: 15px;
  line-height: 20px;
  opacity: 0.699999988079071;
  text-align: left;
  padding: 5px;
}

.cont-6 .second-section .column3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.cont-6 .second-section .column3 .line1 {
  color: #222222;
  font-family: Avenir;
  font-size: 17px;
  line-height: 23px;
  text-align: left;
  padding: 5px;
}

.cont-6 .second-section .column3 .line2 {
  color: #222222;
  font-family: Avenir;
  font-size: 15px;
  line-height: 20px;
  opacity: 0.699999988079071;
  text-align: left;
  padding: 5px;
}

.cont-6 .second-section .column3 .line3 {
  color: #222222;
  font-family: Avenir;
  font-size: 15px;
  line-height: 20px;
  opacity: 0.699999988079071;
  text-align: left;
  padding: 5px;
}

.cont-6 .second-section .column3 .line4 {
  color: #222222;
  font-family: Avenir;
  font-size: 15px;
  line-height: 20px;
  opacity: 0.699999988079071;
  text-align: left;
  padding: 5px;
}

.cont-6 .second-section .column3 .download {
  padding-top: 19px;
}

.cont-6 .second-section .column3 .download .line6 {
  color: #222222;
  font-family: Avenir;
  font-size: 17px;
  line-height: 23px;
  text-align: left;
  padding: 5px;
}

.cont-6 .second-section .column3 .download .app {
  padding: 5px;
}

footer {
  border-top: 1px solid #dadce0;
}

footer .footer-menu {
  width: 70vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
}

footer .footer-menu .copyright {
  color: #222222;
  font-family: Avenir;
  font-size: 12px;
  line-height: 30px;
  opacity: 0.699999988079071;
  text-align: left;
}

footer .footer-menu .social {
  padding: 10px;
}
/*# sourceMappingURL=index.css.map */