@media only screen and (max-width: 786px) {
    .cont2{
        display: flex;
        flex-direction: column-reverse;
    }
        
    .cont5{
        display: flex;
        flex-direction: column-reverse;
    }
    .cont-6{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        .second-section{
            .second{
                .contact{
                    padding-top: 40px;
                }
            }
            .column3{
                .download{
                    padding-top: 54px;
                }
            }
        }
    }
    .header{
        .search{
            .search-bar{
                display: flex;
            }
        }
    }
       
}

@media only screen and (max-width: 520px) {
    .cont2{

    
        .first-image{
            width: 100%;
        }    
    }
    .gradient-cont{
        .second-image{
            // width: 100%;
            display: none;
        }

    }
    .cont4{
        display: flex;
        flex-direction: column;
        .image-0{
            width: 100%;
        }
    }
    .cont-6{
        .second-section{
            display: flex;
            flex-direction: column;
        }

    }
    .ask-flex{
        display: flex;
        flex-direction: column;
    }
    .header{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .cont3{
        .container-3{
            display: flex;
            flex-direction: column;
        }
    }
    footer{
        .footer-menu{
            display: flex;
            flex-direction: column;
        }
    }
    .main-sec{
        .first-part{

        
            .image-span{
                .image-app{
                    width: 50%;
                }
            }
        }
    }
    .cont3{
        .container-3{
            .cont3-para{
                width: 100%;
            }
        }
    }

    // .cont4{
    //     display: flex;
    //     flex-direction: column-reverse;
    // }
    // .header{
    //     display: flex;
    //     flex-direction: column;
    //     width: 100%;
    // }
    // .cont3{
    //     width: 100%;
    // }
    // .container-3{
    //     width: auto;
    //     display: flex;
    //     flex-direction: column;
    // }
    // .cont4{
    //     display: flex;
    //     flex-direction: column;
    //     width: 100%;
    // }

    

}
